/Scheduler/nbproject/private/
/Scheduler/build/
/FTPServer/nbproject/private/
/FTPServer/build/
/FTPServer/dist/
/ServerSystem/nbproject/private/
/MeasureSystem/nbproject/private/
/ServerSystem/build/
/MeasureSystem/build/
/sudoku/nbproject/private/
/sudoku/build/