
.imgClass { 
    background-image: url(renew.png);
    background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
}

.imgClass2 { 
    background-image: url(delete.png);
    background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
}